{% extends 'base.html' %}

{% block content %}
    <h1 class="display-1">Testing & Learning with Flask, CSS, HTML, and APIs.</h1>
    <p>This is a project I took upon to learn more about different coding languages, Flask,
    and more use cases of SignalWires APIs. Overall I am very happy with the end result.
    I never really got to mess around with HTML or CSS before, so this was a very new experience,
    but they're very user-friendly, and I was quickly able to pick them up and get a basic understanding fast.
    The most complicated part of this site is easily the SMS messaging, but after I learned the API more,
    the more it clicked with me. I will leave comments in the code documenting my journey and what each part does!
    Thank you for testing! :)</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://youtube.com/embed/uaLZtkuYqHI"></iframe>
</div>
{% endblock %}
