{% extends 'base.html' %}
{% block head %} <div class="container-full-bg">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">Flask & SignalWire API</h1>
    <p class="lead">Need to send a text fast? Do it from your browser! With this app you can easily send an SMS in
    seconds. We utilize SignalWires API and Flasks web development tools to process this data quickly,reliably, and
        safely. </p>
  </div>
</div>
    {% endblock %}
    {% block content %}


<div class="form-floating mb-3">
         <h1>Enter a phone number:</h1>
         <form action = "/sms_handle">
         <input class="form-control" = "text" name = "p_number" placeholder="Phone number goes here!">
</div>

<div class="form-floating">
         <h2>Enter your message contents:</h2>
         <p><input class="form-control" = "text" name = "sms_body" placeholder="Message goes here!" /></p>
         <p><input type = "submit" value = "submit" /></p>
</div>
</p>Please note: Currently this will only respond back to SignalWire numbers.
This is due to needing to have an active campaign to send messages to phone numbers in the US (possibly more countries?)
    .</p>
{% endblock %}