{% extends 'base.html' %}
{% block head %}
<div class="container-full-bg">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">OpenWeather API & SignalWire API</h1>
            <p class="lead">With both of these great tools we get to not only see the weather,
                but also send the weather via SMS.
                With the SignalWire API you can choose to have it texted to you via SMS, or simply have it displayed on
                this
                website!</p>
        </div>
    </div>
    {% endblock %}
    {% block content %}


    <div class="form-floating mb-3">
        <h1>Enter your country:</h1>
        <form action="/weather_handle">
            <input class="form-control" = "text" name = "c_int" placeholder="Please note: we use ISO 3166 country codes.
 For example, The United States would simply be 'US'">
    </div>


    <div class="form-floating">
        <h2>Enter your zipcode:</h2>
        <p><input class="form-control" = "text" name = "zip_c" placeholder="Zip code goes here." /></p>
    </div>

    <h3>Would you like to receive it in SMS form?:</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input name="check" type="checkbox">
            </div>
        </div>
        <input class="form-control" name="phone_weather" placeholder="Enter your phone number & press the check
 box if you'd like to receive it in SMS. If not, leave this blank." type="text">
    </div>
    <p><input type="submit" value="submit"/></p>

    </p>Please note: Currently this will only respond to SignalWire phone numbers.
    This is due to needing to have an active campaign to send messages to phone numbers in the US.</p>

    {% endblock %}